<div>

    <!-- <div class="mb-3" *ngFor="let catCtrl of impactsArray.controls; let i = index">
        <label class="fw-bold">{{ impactCategories[i]?.name }}</label>
        <app-form-slider [items]="impacts" [allowNotRated]="true" [selectedId]="catCtrl.get('impact_id')?.value"
            (selectedIdChange)="onImpactChanged(i, $event)"></app-form-slider>
    </div> -->

    <div class="slider-row" *ngFor="let catCtrl of impactsArray.controls; let i = index;">
        <label class="cat-name">{{ impactCategories[i]?.name }}</label>

        <app-form-slider [items]="impacts" [allowNotRated]="true" [selectedId]="catCtrl.get('impact_id')?.value"
            (selectedIdChange)="onImpactChanged(i, $event)" [showChosenText]="false">
        </app-form-slider>
    </div>

    <hr>
    <!-- <div class="my-3">
        <label class="fw-bold d-block">Likelihood</label>
        <app-form-slider [items]="displayedLikelihoods" [allowNotRated]="true"
            [selectedId]="afterGroup.get('likelihood_id')?.value"
            (selectedIdChange)="onLikelihoodChanged($event)"></app-form-slider>
    </div> -->

    <div class="slider-row">
        <label class="cat-name">Likelihood</label>

        <app-form-slider [items]="displayedLikelihoods" [allowNotRated]="true"
            [selectedId]="afterGroup.get('likelihood_id')?.value" (selectedIdChange)="onLikelihoodChanged($event)"
            [showChosenText]="false">
        </app-form-slider>
    </div>

    <hr>


    <div class="row g-3">
        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label fw-semibold mb-2" style="white-space: nowrap;">Calculated Risk</label>
                <div class="calculated-risk readonly" [style.background-color]="calcRiskBgColor" style="display: flex; justify-content: center; align-items: center; 
                              height: 60px; width: 60px; 
                              border-radius: 1px;
                              box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                              font-size: 1.75rem; 
                              font-weight: 500;
                              color: #fff;">
                    {{ afterGroup.get('risk_level_value')?.value }}
                </div>
            </div>
        </div>
    </div>
</div>