<div class="card-deck">
  <div class="card">
    <a routerLink="/isms/configure">
      <div class="dash-card primary">
        <i class="far fa-object-ungroup"></i>
        <span class="text-title">Configure ISMS Settings</span>
      </div>
    </a>
  </div>

  <div class="card">
    <a routerLink="/isms/risks">
      <div class="dash-card primary">
        <i class="far fa-object-ungroup"></i>
        <span class="text-title">Risks</span>
      </div>
    </a>
  </div>


  <div class="card">
    <a routerLink="/isms/control-measures">
      <div class="dash-card primary">
        <i class="far fa-object-ungroup"></i>
        <span class="text-title">Measures/Controls</span>
      </div>
    </a>
  </div>
  <br>
  <div class="card">
    <a routerLink="/isms/threats">
      <div class="dash-card primary">
        <i class="far fa-object-ungroup"></i>
        <span class="text-title">Threats</span>
      </div>
    </a>
  </div>

  <div class="card">
    <a routerLink="/isms/vulnerabilities">
      <div class="dash-card primary">
        <i class="far fa-object-ungroup"></i>
        <span class="text-title">Vulnerabilities</span>
      </div>
    </a>
  </div>




</div>