<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Risks</h2>
    <button class="btn btn-sm btn-success" (click)="onAddNew()">
      <i class="fas fa-plus"></i> Add Risk
    </button>
  </div>
  <hr />
  


  <button
  class="btn btn-primary"
  [routerLink]="['/isms/risks', 13, 'risk-assessments', 'add']"
>
  Add Assessment
</button>


  <cmdb-table
    [items]="risks"
    [columns]="columns"
    [page]="page"
    [sort]="sort"
    [id]="'risks-table'"
    [emptyMessage]="'No risks found.'"
    [totalItems]="totalRisks"
    [selectEnabled]="false"
    [loading]="loading"
    [pageSize]="limit"
    [toggleable]="true"
    [initialVisibleColumns]="initialVisibleColumns"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    (sortChange)="onSortChange($event)"
    (searchChange)="onSearchChange($event)"
  >
  </cmdb-table>
  
  <!-- Risk Type Template -->
  <ng-template #riskTypeTemplate let-data="data" let-item="item">
    <span>
      {{ item.risk_type }}
    </span>
  </ng-template>
  
  <!-- Actions Template -->
  <ng-template #actionTemplate let-data="data" let-item="item">
    <i class="far fa-edit icon-margin icon-edit spacing-right"
       (click)="onEdit(item)"
       title="Edit Risk"></i>
    <i class="far fa-trash-alt icon-delete"
       (click)="onDelete(item)"
       title="Delete Risk"></i>
  </ng-template>
  