<!-- <div class="accordion-item">
    <h2>Risk Calculation (Before Treatment)</h2>
    <div>
  
      <div class="mb-3"
           *ngFor="let catCtrl of impactsArray.controls; let i = index">
        <label class="fw-bold">{{ impactCategories[i]?.name }}</label>
  
        <app-form-slider
          [items]="impacts"
          [allowNotRated]="true"
          [selectedId]="catCtrl.get('impact_id')?.value"
          (selectedIdChange)="onImpactChanged(i,$event)">
        </app-form-slider>
      </div>
  
      <label class="fw-bold d-block mt-3">Likelihood</label>
      <app-form-slider
        [items]="displayedLikelihoods"
        [allowNotRated]="true"
        [selectedId]="beforeGroup.get('likelihood_id')?.value"
        (selectedIdChange)="onLikelihoodChanged($event)">
      </app-form-slider>
  
      <div class="row g-3 mt-3">
        <div class="col-md-4">
          <label>Calculated Risk</label>
          <app-form-input
            [readonly]="true"
            [formControl]="beforeGroup.get('risk_level_value')">
          </app-form-input>
        </div>
      </div>
  
      <hr class="my-4"/>
  
      <div class="row mb-3">
        <div class="col-md-3"><label>Risk Assessor</label></div>
        <div class="col-md-9">
          <app-form-select
            [items]="allPersons"
            bindLabel="display_name"
            bindValue="public_id"
            [formControl]="parentForm.get('risk_assessor_id')">
          </app-form-select>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-3"><label>Risk Owner Type</label></div>
        <div class="col-md-9">
          <app-form-select
            [items]="[
              {label:'Person',value:'PERSON'},
              {label:'Person Group',value:'PERSON_GROUP'}
            ]"
            bindLabel="label"
            bindValue="value"
            [formControl]="parentForm.get('risk_owner_id_ref_type')">
          </app-form-select>
        </div>



      </div>
  
      <div class="row mb-3">
        <div class="col-md-3"><label>Risk Owner</label></div>
        <div class="col-md-9">
          <ng-container
            [ngSwitch]="parentForm.get('risk_owner_id_ref_type')?.value">
            <app-form-select *ngSwitchCase="'PERSON'"
              [items]="allPersons"
              bindLabel="display_name"
              bindValue="public_id"
              [formControl]="parentForm.get('risk_owner_id')">
            </app-form-select>
            <app-form-select *ngSwitchCase="'PERSON_GROUP'"
              [items]="allPersonGroups"
              bindLabel="name"
              bindValue="public_id"
              [formControl]="parentForm.get('risk_owner_id')">
            </app-form-select>
          </ng-container>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-3"><label>Interviewed Persons</label></div>
        <div class="col-md-9">
          <app-form-select
            [items]="allPersons"
            bindLabel="display_name"
            bindValue="public_id"
            [multiple]="true"
            [formControl]="parentForm.get('interviewed_persons')">
          </app-form-select>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-3"><label>Date of Assessment</label></div>
        <div class="col-md-9">
          <app-form-date
            [formControl]="parentForm.get('risk_assessment_date')">
          </app-form-date>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-3"><label>Additional Info</label></div>
        <div class="col-md-9">
          <app-form-textarea
            [formControl]="parentForm.get('additional_info')">
          </app-form-textarea>
        </div>
      </div>
  
    </div>
  </div>
   -->


<!-- <div class="accordion-item">
  <h2>Risk Calculation (Before Treatment)</h2>
  <div>
    <div class="slider-container" *ngFor="let catCtrl of impactsArray.controls; let i = index">
      <label>{{ impactCategories[i]?.name | titlecase }}</label>
      <app-form-slider [items]="impacts" [allowNotRated]="true" [selectedId]="catCtrl.get('impact_id')?.value"
        (selectedIdChange)="onImpactChanged(i, $event)">
      </app-form-slider>
    </div>

    <div class="slider-container">
      <label>Likelihood</label>
      <app-form-slider [items]="displayedLikelihoods" [allowNotRated]="true"
        [selectedId]="beforeGroup.get('likelihood_id')?.value" (selectedIdChange)="onLikelihoodChanged($event)">
      </app-form-slider>
    </div>

    <div class="row g-3 mt-3">
      <div class="col-md-4">
        <label>Calculated Risk</label>
        <app-form-input class="readonly-input" [readonly]="true" [formControl]="beforeGroup.get('risk_level_value')">
        </app-form-input>
      </div>
    </div>

    <hr class="my-4" />

    <div class="row mb-3">
      <div class="col-md-3"><label>Risk Assessor</label></div>
      <div class="col-md-9">
        <app-form-select [items]="allPersons" bindLabel="display_name" bindValue="public_id"
          [formControl]="parentForm.get('risk_assessor_id')">
        </app-form-select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3"><label>Risk Owner Type</label></div>
      <div class="col-md-9">
        <app-form-select [items]="[
              {label:'Person',value:'PERSON'},
              {label:'Person Group',value:'PERSON_GROUP'}
            ]" bindLabel="label" bindValue="value" [formControl]="parentForm.get('risk_owner_id_ref_type')">
        </app-form-select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3"><label>Risk Owner</label></div>
      <div class="col-md-9">
        <ng-container [ngSwitch]="parentForm.get('risk_owner_id_ref_type')?.value">
          <app-form-select *ngSwitchCase="'PERSON'" [items]="allPersons" bindLabel="display_name" bindValue="public_id"
            [formControl]="parentForm.get('risk_owner_id')">
          </app-form-select>
          <app-form-select *ngSwitchCase="'PERSON_GROUP'" [items]="allPersonGroups" bindLabel="name"
            bindValue="public_id" [formControl]="parentForm.get('risk_owner_id')">
          </app-form-select>
        </ng-container>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3"><label>Interviewed Persons</label></div>
      <div class="col-md-9">
        <app-form-select [items]="allPersons" bindLabel="display_name" bindValue="public_id" [multiple]="true"
          [formControl]="parentForm.get('interviewed_persons')">
        </app-form-select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3"><label>Date of Assessment</label></div>
      <div class="col-md-9">
        <app-form-date [formControl]="parentForm.get('risk_assessment_date')">
        </app-form-date>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3"><label>Additional Info</label></div>
      <div class="col-md-9">
        <app-form-textarea [formControl]="parentForm.get('additional_info')">
        </app-form-textarea>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="risk-before">

  <h2 class="section-heading">Risk Calculation (Before Treatment)</h2>

  <div class="scale-header">
    <span class="scale-item"
          *ngFor="let lbl of impactScaleLabels">{{ lbl | titlecase }}</span>
  </div>

  <div class="slider-row"
       *ngFor="let catCtrl of impactsArray.controls; let i = index">
    <label class="cat-name">{{ impactCategories[i]?.name }}</label>

    <app-form-slider
      [items]="impacts"
      [allowNotRated]="true"
      [selectedId]="catCtrl.get('impact_id')?.value"
      (selectedIdChange)="onImpactChanged(i,$event)"
      [showChosenText]="false">
    </app-form-slider>
  </div>

  <div class="scale-header mt-4">
    <span class="scale-item"
          *ngFor="let lbl of likelihoodScaleLabels">{{ lbl }}</span>
  </div>

  <div class="slider-row">
    <label class="cat-name">Likelihood</label>

    <app-form-slider
      [items]="likelihoods"
      [allowNotRated]="true"
      [selectedId]="beforeGroup.get('likelihood_id')?.value"
      (selectedIdChange)="onLikelihoodChanged($event)"
      [showChosenText]="false">
    </app-form-slider>
  </div>

  <div class="calc-row" [style.background-color]="calcRiskBgColor">
    <label>Calculated Risk</label>
    <app-form-input class="w-100"
      [readonly]="true"
      [style.background-color]="calcRiskBgColor"
      [formControl]="beforeGroup.get('risk_level_value')">
    </app-form-input>
  </div>

  <hr class="my-4" />


  <div class="form-block">
    <label>Risk Assessor</label>
    <app-form-select
      class="w-100"
      [items]="allPersons"
      bindLabel="display_name"
      bindValue="public_id"
      [formControl]="parentForm.get('risk_assessor_id')">
    </app-form-select>
  </div>

  <div class="form-block">
    <label>Risk Owner Type</label>
    <app-form-select
      class="w-100"
      [items]="[
        { label:'Person', value:'PERSON' },
        { label:'Person Group', value:'PERSON_GROUP' }
      ]"
      bindLabel="label"
      bindValue="value"
      [formControl]="parentForm.get('risk_owner_id_ref_type')">
    </app-form-select>
  </div>

  <div class="form-block">
    <label>Risk Owner</label>
    <ng-container
      [ngSwitch]="parentForm.get('risk_owner_id_ref_type')?.value">

      <app-form-select *ngSwitchCase="'PERSON'"
        class="w-100"
        [items]="allPersons"
        bindLabel="display_name"
        bindValue="public_id"
        [formControl]="parentForm.get('risk_owner_id')">
      </app-form-select>

      <app-form-select *ngSwitchCase="'PERSON_GROUP'"
        class="w-100"
        [items]="allPersonGroups"
        bindLabel="name"
        bindValue="public_id"
        [formControl]="parentForm.get('risk_owner_id')">
      </app-form-select>

    </ng-container>
  </div>

  <div class="form-block">
    <label>Interviewed Persons</label>
    <app-form-select
      class="w-100"
      [items]="allPersons"
      bindLabel="display_name"
      bindValue="public_id"
      [multiple]="true"
      [formControl]="parentForm.get('interviewed_persons')">
    </app-form-select>
  </div>

  <div class="form-block">
    <label>Date of Assessment</label>
    <app-form-date
      class="w-100"
      [formControl]="parentForm.get('risk_assessment_date')">
    </app-form-date>
  </div>

  <div class="form-block">
    <label>Additional Information</label>
    <app-form-textarea
      class="w-100"
      [formControl]="parentForm.get('additional_info')">
    </app-form-textarea>
  </div>

</div> -->


<!-- risk-assessment-before.component.html -->


<div>
  <!-- Impact sliders -->
  <div class="slider-row" *ngFor="
      let catCtrl of impactsArray.controls;
      let i = index;
      trackBy: trackByIndex
    ">
    <label class="cat-name">{{ impactCategories[i]?.name }}</label>

    <app-form-slider [items]="impacts" [allowNotRated]="true" [selectedId]="catCtrl.get('impact_id')?.value"
      (selectedIdChange)="catCtrl.get('impact_id')?.setValue($event)" [showChosenText]="false">
    </app-form-slider>
  </div>

  <hr>

  <!-- Likelihood slider -->
  <div class="slider-row">
    <label class="cat-name">Likelihood</label>

    <app-form-slider [items]="likelihoods" [allowNotRated]="true" [selectedId]="beforeGroup.get('likelihood_id')?.value"
      (selectedIdChange)="beforeGroup.get('likelihood_id')?.setValue($event)" [showChosenText]="false">
    </app-form-slider>
  </div>

  <hr>
  <!-- Calculated risk output -->
  <div class="row g-3">
    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label fw-semibold mb-2" style="white-space: nowrap;">Calculated Risk</label>
        <div class="calculated-risk readonly" [style.background-color]="calcRiskBgColor" style="display: flex; justify-content: center; align-items: center; 
                          height: 60px; width: 60px; 
                          border-radius: 1px;
                          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                          font-size: 1.75rem; 
                          font-weight: 500;
                          color: #fff;">
          {{ beforeGroup.get('risk_level_value')?.value }}
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4" />

  <!-- The rest of your form remains unchanged -->
  <!-- Risk Assessor -->
  <div class="form-block">
    <label>Risk Assessor</label>
    <app-form-select class="w-100" [items]="allPersons" bindLabel="display_name" bindValue="public_id"
      [formControl]="parentForm.get('risk_assessor_id')">
    </app-form-select>
  </div>

  <!-- Risk Owner Type -->
  <div class="form-block" [formGroup]="parentForm">
    <label class="d-block">
      Risk Owner Type<span class="required">*</span>
    </label>

    <app-radio label="Person" [value]="'PERSON'" name="riskOwnerTypeGroup" id="ownerTypePerson"
      formControlName="risk_owner_id_ref_type">
    </app-radio>

    <app-radio label="Person&nbsp;Group" [value]="'PERSON_GROUP'" name="riskOwnerTypeGroup" id="ownerTypePersonGroup"
      formControlName="risk_owner_id_ref_type">
    </app-radio>
  </div>

  <!-- Risk Owner -->
  <div class="form-block mt-4">
    <label>Risk Owner</label>
    <ng-container [ngSwitch]="parentForm.get('risk_owner_id_ref_type')?.value">
      <app-form-select *ngSwitchCase="'PERSON'" class="w-100" [items]="allPersons" bindLabel="display_name"
        bindValue="public_id" [formControl]="parentForm.get('risk_owner_id')">
      </app-form-select>

      <app-form-select *ngSwitchCase="'PERSON_GROUP'" class="w-100" [items]="allPersonGroups" bindLabel="name"
        bindValue="public_id" [formControl]="parentForm.get('risk_owner_id')">
      </app-form-select>
    </ng-container>
  </div>

  <!-- Interviewed Persons -->
  <div class="form-block">
    <label>Interviewed Persons</label>
    <app-form-select class="w-100" [items]="allPersons" bindLabel="display_name" bindValue="public_id" [multiple]="true"
      [formControl]="parentForm.get('interviewed_persons')">
    </app-form-select>
  </div>

  <!-- Date of Assessment -->
  <div class="form-block">
    <label>Date of Assessment</label>
    <app-form-date class="w-100" [formControl]="parentForm.get('risk_assessment_date')">
    </app-form-date>
  </div>

  <!-- Additional Information -->
  <div class="form-block">
    <label>Additional Information</label>
    <app-form-textarea class="w-100" [formControl]="parentForm.get('additional_info')">
    </app-form-textarea>
  </div>
</div>