<div class="accordion-item">
  <!-- <h2 >
      Risk / Object Selection
    </h2> -->
  <div>

    <!-- Risk -->
    <div class="mb-3">
      <label class="form-label">Risk <span class="text-danger">{{ fromObject || fromObjectGroup ? "*" : ""
          }}</span></label>
      <ng-container *ngIf="fromRisk; else selectRisk">
        <!-- read-only -->
        <app-form-input [readonly]="true" [formControl]="parentForm.get('risk_id')"></app-form-input>
      </ng-container>
      <ng-template #selectRisk>
        <app-form-select [formControl]="parentForm.get('risk_id')" [items]="risks" bindLabel="name"
          bindValue="public_id" placeholder="Select a Risk"></app-form-select>
      </ng-template>
    </div>

    <!-- object_id_ref_type -->
    <!-- <div class="mb-3">
          <label class="form-label">Object Ref Type <span class="text-danger">*</span></label>
          <div class="d-flex gap-3">
            <label *ngFor="let t of objectRefTypes" class="form-check">
              <input
                class="form-check-input"
                type="radio"
                [value]="t.value"
                [formControl]="parentForm.get('object_id_ref_type')"
                [disabled]="fromObject || fromObjectGroup"
              />
              <span class="form-check-label">{{ t.label }}</span>
            </label>
          </div>
        </div> -->

    <div class="mb-3">
      <label class="d-block">
        Object Ref Type<span class="required">{{ fromRisk ? "*" : "" }}</span>
      </label>

      <!-- every radio shares the SAME control -->
      <ng-container *ngFor="let t of objectRefTypes">
        <app-radio [label]="t.label" [value]="t.value" name="objectRefTypeGroup" [id]="'objRef_' + t.value"
          [formControl]="parentForm.get('object_id_ref_type')">
        </app-radio>
      </ng-container>
    </div>

    <!-- object_id -->
    <div class="mb-3">
      <label class="form-label">{{fromObject ? "Object ID" : "Object Group ID"}} <span class="text-danger">{{ fromRisk ? "*" : "" }}</span></label>
      <ng-container *ngIf="fromObject">
        <!-- read-only object -->
        <app-form-input [readonly]="true" [formControl]="parentForm.get('object_id')"></app-form-input>
      </ng-container>

      <ng-container *ngIf="!fromObject && fromObjectGroup">
        <!-- read-only group -->
        <app-form-input [readonly]="true" [formControl]="parentForm.get('object_id')"></app-form-input>
      </ng-container>

      <ng-container *ngIf="!fromObject && !fromObjectGroup">
        <!-- user can pick object or group -->
        <ng-container [ngSwitch]="parentForm.get('object_id_ref_type')?.value">
          <ng-container *ngSwitchCase="'OBJECT'">
            <app-form-select [formControl]="parentForm.get('object_id')" [items]="objects" bindLabel="name"
              bindValue="public_id" placeholder="Select Object"></app-form-select>
          </ng-container>
          <ng-container *ngSwitchCase="'OBJECT_GROUP'">
            <app-form-select [formControl]="parentForm.get('object_id')" [items]="objectGroups" bindLabel="name"
              bindValue="public_id" placeholder="Select Object Group"></app-form-select>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

  </div>
</div>